<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Edit Printer</title>
    </head>
<body>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center fixed-top">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Printer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Maintenance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Operational</a>
            </li>
        </ul>
    </nav>
    
<div class="container mt-3" style="margin-top:80px">
    <p class = "h2 text-center"> Edit Printer </h2>
    <form action="updaterecord/{{ myprinter.id }}" method='post'>
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="printer">Nama Printer:</label>
            <input type="text" class="form-control" id="printer" placeholder="Nama Printer" name="printer_name" value="{{ myprinter.printer_name}}">
        </div>
        <div class="mb-3">
            <label for="printer">Driver:</label>
            <input type="text" class="form-control" id="printer" placeholder="Nama Driver" name="driver" value="{{ myprinter.driver }}">
        </div>
        <div class="mb-3">
            <label for="printer">Manufacture:</label>
            <input type="text" class="form-control" id="printer" placeholder="Manufacture" name="manufacture" value="{{ myprinter.manufacture}}">
        </div>
        <div class="mb-3">
            <label for="printer">IP Address:</label>
            <input type="text" class="form-control" id="printer" placeholder="IP Address" name="ip_address" value="{{ myprinter.ip_address }}">
        </div>
        <div class="mb-3">
            <label for="printer">Lokasi:</label>
            <input type="text" class="form-control" id="printer" placeholder="Lokasi" name="lokasi" value="{{ myprinter.lokasi }}">
        </div>
            <label for="printer" class="form-label">Pilih Warna</label>
            <select class="form-select" id="printer" name="warna" value="{{ myprinter.warna }}">
                <option>Monochrome</option>
                <option>Berwarna</option>
            </select>
        <div class="d-grid">
             <button type="submit" class="btn btn-primary mt-3 btn-block">Submit</button>
        </div>
    </form>
  </div>
  
</body>
</html>